# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.local
!.env.example
# Ignore .env because we're using dotenvx encrypted secrets
# .env.*
# Ignore private keys for decrypting .env files
.env.keys

# Playwright
playwright-report
playwright-logs

# Test results
test-results
results.xml
